.card-header { font-size: 1.5rem; }
.list-group-item { font-size: 1.3rem; }
.dropdown-item:hover { background-color: #000; }

.currency-select .vs__search::placeholder, .vs--single .vs__selected,
.currency-select .vs__dropdown-toggle,
.currency-select .vs__dropdown-menu {
  background: #0d0d0e;
  border: none;
  color: #eee;
}
.currency-select .vs__clear,
.currency-select .vs__open-indicator {
  fill: #394066;
  color: #eee;
}

.preset-list {
	max-height: 40vh;
	overflow-y: auto;
}
