<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Donkey App - Currency Converter</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="app-style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue.min.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue-icons.min.css" />
    <script type="text/javascript" src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.7.14/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue-icons.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios@1.4.0/dist/axios.min.js"></script>

    <!-- use the latest vue-select release -->
    <script src="https://unpkg.com/vue-select@3.20.2/dist/vue-select.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-select@3.20.2/dist/vue-select.css">
    <style>
        .card-header { font-size: 1.5rem; }
        .list-group-item { font-size: 1.3rem; }
        .dropdown-item:hover { background-color: #000; }

        .currency-select .vs__search::placeholder, .vs--single .vs__selected,
        .currency-select .vs__dropdown-toggle,
        .currency-select .vs__dropdown-menu {
            background: #0d0d0e;
            border: none;
            color: #eee;
        }
        .currency-select .vs__clear,
        .currency-select .vs__open-indicator {
            fill: #394066;
            color: #eee;
        }
    </style>
</head>

<body class="bg-dark">
    
    <b-container fluid id="app">
        <div v-if="isLoading">Loading...</div>

        <template v-if="!isLoading">
        <b-navbar type="dark" variant="dark">
            <b-navbar-nav>
                <b-nav-item-dropdown text="Donkey-App" menu-class="bg-dark">
                    <b-dropdown-item v-on:click="switchCurrency" link-class="text-white"><b-icon icon="gear"></b-icon> Choose Currency</b-dropdown-item>
                    <b-dropdown-divider></b-dropdown-divider>
                    <b-dropdown-group id="dropdown-group-1" header-classes="text-white" header-tag="header">
                        <div slot="header">
                            <b-icon icon="currency-exchange"></b-icon> Currency Presets
                        </div>
                        <b-dropdown-item-button button-class="text-white" v-on:click="setCurrency({base: 'SGD', target: 'MYR'})">SGD - MYR</b-dropdown-item-button>
                        <b-dropdown-item-button button-class="text-white" v-on:click="setCurrency({base: 'SGD', target: 'IDR'})">SGD - IDR</b-dropdown-item-button>
                        <b-dropdown-item-button button-class="text-white" v-on:click="setCurrency({base: 'SGD', target: 'USD'})">SGD - USD</b-dropdown-item-button>
                        <b-dropdown-item-button button-class="text-white" v-on:click="setCurrency({base: 'SGD', target: 'AUD'})">SGD - AUD</b-dropdown-item-button>
                        <b-dropdown-item-button button-class="text-white" v-on:click="setCurrency({base: 'SGD', target: 'JPY'})">SGD - JPY</b-dropdown-item-button>
                        <b-dropdown-item-button button-class="text-white" v-on:click="setCurrency({base: 'SGD', target: 'VND'})">SGD - VND</b-dropdown-item-button>
                        <b-dropdown-item-button button-class="text-white" v-on:click="setCurrency({base: 'SGD', target: 'EUR'})">SGD - EUR</b-dropdown-item-button>
                      </b-dropdown-group>
                    <b-dropdown-divider></b-dropdown-divider>
                    <b-dropdown-item v-on:click="triggerUpdateExchangeRate" link-class="text-white"><b-icon icon="arrow-repeat"></b-icon> Update Exchange Rate</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item v-on:click="showPrev10" :disabled="currentBaseNumber==1">&divide;10</b-nav-item>
                <b-nav-item v-on:click="showNext10">&times;10</b-nav-item>
                <b-nav-item v-on:click="swapCurrencyClicked">Swap &rlarr;</b-nav-item>
            </b-navbar-nav>

        </b-navbar>

        <!-- Item list -->
        <b-row class="text-center">
            <b-col cols="12">
                <b-card-group deck>
                    <b-card bg-variant="secondary" text-variant="white" no-body header-tag="header">
                        <div slot="header" class="p-1 font-weight-bold">
                            {{ baseCurrency }} <b-icon icon="caret-right-fill"></b-icon> {{ targetCurrency }}
                        </div>
                        <b-list-group>
                            <donkey-parent v-for="(item, index) in currencyItems"
                            v-bind:key="item.baseAmt + '_' + baseCurrency + '_' + targetCurrency"
                            v-bind:is-parent="true"
                            v-bind:id="item.baseAmt"
                            v-bind:currency-item="item"></donkey-parent>
                        </b-list-group>
                    </b-card>
                </b-card-group>
            </b-col>
            <b-col cols="4">
                
            </b-col>
        </b-row>

        <!-- User Options modal dialog -->
        <donkey-option v-bind:currency-list="currencyList"
            v-bind:base-currency="baseCurrency"
            v-bind:target-currency="targetCurrency"
            v-on:currency-changed="onCurrencyChangeEvent($event)"></donkey-option>

        <!-- Custom Rate -->
        <small id="useCustomRate" class="form-text text-muted">Tick checkbox to enter custom exchange.</small>
        <div class="input-group my-2 custom-rate">
            <div class="input-group-prepend">
                <div class="input-group-text bg-dark text-white">
                    <input type="checkbox" id="useCustomRateCheckbox" title="Use custom exchange rate" aria-label="Use custom exchange rate"
                        v-model="useCustomExchangeRate"
                        v-on:change="onCustomRateInputChangedEvent">
                </div>
            </div>
            <div class="input-group-prepend">
                <label for="useCustomRateCheckbox" class="input-group-text bg-dark text-white">{{ strongerCurrencyLabel }} Rate</span>
            </div>
            <input type="number" aria-label="Custom exchange rate" placeholder="Custom exchange rate, e.g. 1.2345" 
                class="form-control text-white"
                v-bind:disabled="useCustomExchangeRate === false"
                v-model="customExchangeRate"
                v-on:input="onCustomRateInputChangedEvent">
        </div>
            
        <!-- Info bar -->
        <div class="text-white">Exchange rate was last updated on {{ rateLastUpdated }}</div>

        </template>

        <hr />
        <blockquote class="blockquote">
            <footer class="blockquote-footer"><a href="https://sudarpo.net" class="text-warning">sudarpo.net</a></footer>
        </blockquote>
    </b-container>
    
    <script src="currency-list.js"></script>
    <script src="donkey-item.js"></script>
    <script src="app.js"></script>
    <style>
        .custom-rate .form-control:disabled {
            background-color: #343a40!important;
        }
        .custom-rate .form-control {
            background-color: #101316!important;
        }
    </style>
</body>
</html>