<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Donkey App - Currency Converter</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/donkey-app/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/donkey-app/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/donkey-app/favicon/favicon-16x16.png">
    <link rel="manifest" href="/donkey-app/favicon/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue.min.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue-icons.min.css" />
    <script type="text/javascript" src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.7.14/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue-icons.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios@1.20.0/dist/axios.min.js"></script>

    <!-- use the latest vue-select release -->
    <script src="https://unpkg.com/vue-select@3/dist/vue-select.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-select@3/dist/vue-select.css">

    <link href="app-style.css?v=20261003001" rel="stylesheet" type="text/css">
 
</head>

<body class="bg-dark">
    
    <b-container fluid id="app">
        <div v-if="isLoading" class="text-white">Loading...</div>

        <template v-if="!isLoading">
        <b-navbar type="dark" variant="dark">
            <b-navbar-nav>
                <b-nav-item-dropdown text="Donkey-App" menu-class="bg-dark">
                    <b-dropdown-item v-on:click="switchCurrency" link-class="text-white"><b-icon icon="gear"></b-icon> Choose Currency</b-dropdown-item>
                    <b-dropdown-divider></b-dropdown-divider>
                    <b-dropdown-group id="dropdown-group-1" header-classes="text-white" header-tag="header">
                      <div slot="header">
                        <b-icon icon="currency-exchange"></b-icon> Currency Presets
                      </div>
                        <b-dropdown-item v-on:click="openPresetManager" link-class="text-white"><b-icon icon="sliders"></b-icon> Manage Presets</b-dropdown-item>
                        <b-dropdown-item-button v-for="(preset, index) in currencyPresets" :key="index"
                            button-class="text-white" v-on:click="setCurrency(preset)">{{ preset.base }} - {{ preset.target }}</b-dropdown-item-button>
                        <b-dropdown-text v-if="!currencyPresets.length" text-class="text-white">No presets saved</b-dropdown-text>
                    </b-dropdown-group>
                    <b-dropdown-divider></b-dropdown-divider>
                    <b-dropdown-item v-on:click="triggerUpdateExchangeRate" link-class="text-white"><b-icon icon="arrow-repeat"></b-icon> Update Exchange Rate</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item v-on:click="showPrev10" :disabled="currentBaseNumber==1">&divide;10</b-nav-item>
                <b-nav-item v-on:click="showNext10">&times;10</b-nav-item>
                <b-nav-item v-on:click="swapCurrencyClicked">Swap &rlarr;</b-nav-item>
            </b-navbar-nav>

        </b-navbar>

        <b-row class="text-center">
            <b-col cols="12">
                <b-card-group deck>
                    <b-card bg-variant="secondary" text-variant="white" no-body header-tag="header">
                        <div slot="header" class="p-1 font-weight-bold">
                            <span v-on:click="switchCurrency">{{ baseCurrency }}</span>
                              <b-icon icon="caret-right-fill"></b-icon> 
                            <span v-on:click="switchCurrency">{{ targetCurrency }}</span>
                        </div>
                        <b-list-group>
                            <donkey-parent v-for="(item, index) in currencyItems"
                            v-bind:key="item.baseAmt + '_' + baseCurrency + '_' + targetCurrency + '_' + item.excRate"
                            v-bind:is-parent="true"
                            v-bind:id="item.baseAmt"
                            v-bind:currency-item="item"></donkey-parent>
                        </b-list-group>
                    </b-card>
                </b-card-group>
            </b-col>
            <b-col cols="4">
                
            </b-col>
        </b-row>

        <donkey-option v-bind:currency-list="currencyList"
            v-bind:base-currency="baseCurrency"
            v-bind:target-currency="targetCurrency"
            v-on:currency-changed="onCurrencyChangeEvent($event)"></donkey-option>

        <b-modal id="modal-currency-presets" title="Manage Currency Presets" size="lg" hide-footer
            body-class="bg-dark text-white" header-class="bg-dark text-white" footer-class="bg-dark text-white">
            <b-list-group class="preset-list mb-3" v-if="currencyPresets.length">
                <b-list-group-item v-for="(preset, index) in currencyPresets" :key="index"
                    variant="dark" class="d-flex align-items-center justify-content-between flex-wrap">
                    <span class="mr-2">{{ preset.base }} - {{ preset.target }}</span>
                    <b-button-group size="sm" class="my-1">
                        <b-button variant="outline-dark" v-on:click="movePreset(index, -1)" :disabled="index === 0"
                            v-b-tooltip.hover title="Move up" :aria-label="'Move ' + preset.base + ' - ' + preset.target + ' up'"><b-icon icon="arrow-up"></b-icon></b-button>
                        <b-button variant="outline-dark" v-on:click="movePreset(index, 1)" :disabled="index === currencyPresets.length - 1"
                            v-b-tooltip.hover title="Move down" :aria-label="'Move ' + preset.base + ' - ' + preset.target + ' down'"><b-icon icon="arrow-down"></b-icon></b-button>
                        <b-button variant="outline-dark" v-on:click="editPreset(index)"
                            v-b-tooltip.hover title="Edit preset" :aria-label="'Edit ' + preset.base + ' - ' + preset.target"><b-icon icon="pencil"></b-icon></b-button>
                        <b-button variant="outline-danger" v-on:click="removePreset(index)"
                            v-b-tooltip.hover title="Remove preset" :aria-label="'Remove ' + preset.base + ' - ' + preset.target"><b-icon icon="trash"></b-icon></b-button>
                    </b-button-group>
                </b-list-group-item>
            </b-list-group>
            <p v-else>No presets saved.</p>
            <b-row>
                <b-col cols="12" md="5" class="mb-2">
                    <label for="presetBase">Base currency</label>
                    <v-select id="presetBase" class="currency-select" :options="currencyList"
                        :reduce="currency => currency.code" label="countryName" v-model="presetBase"></v-select>
                </b-col>
                <b-col cols="12" md="5" class="mb-2">
                    <label for="presetTarget">Target currency</label>
                    <v-select id="presetTarget" class="currency-select" :options="currencyList"
                        :reduce="currency => currency.code" label="countryName" v-model="presetTarget"></v-select>
                </b-col>
                <b-col cols="12" md="2" class="d-flex align-items-end mb-2">
                    <b-button variant="secondary" block v-on:click="savePreset" :disabled="!canSavePreset">
                        <b-icon :icon="editingPresetIndex === -1 ? 'plus' : 'check'"></b-icon>
                        {{ editingPresetIndex === -1 ? 'Add' : 'Save' }}
                    </b-button>
                </b-col>
            </b-row>
            <div v-if="presetValidationMessage" class="text-warning" role="alert">{{ presetValidationMessage }}</div>
            <b-button v-if="editingPresetIndex !== -1" variant="outline-light" size="sm" v-on:click="resetPresetForm">Cancel edit</b-button>
        </b-modal>

        <div class="d-flex flex-wrap align-items-center text-white my-2 input-group">
          <div class="input-group-prepend">
              <div class="input-group-text">
                <input id="useCustomRate" type="checkbox"
                    v-model="useCustomRate" v-on:change="onCustomRateToggle">
              </div>
              <label class="input-group-text form-check-label" for="useCustomRate">Use custom rate</label>
          </div>
          <!-- <label class="input-group-text mb-0" for="customRate">{{ customRateLabel }}</label> -->
          <input class="form-control" id="customRate" type="number" min="0" step="any"
              inputmode="decimal" v-model="customRateText" v-on:input="onCustomRateInput"
              v-bind:disabled="!useCustomRate" v-bind:aria-invalid="Boolean(rateInputError)"
              aria-describedby="customRateError">
        </div>

        <div>
          <label class="text-white">{{ customRateLabel }} = </label> 
          <label class="text-white">{{ strongerCurrencyRate }}</label>
        </div>

        <div id="customRateError" class="text-warning" v-if="rateInputError" role="alert">{{ rateInputError }}</div>
        <div class="alert alert-warning" v-if="useCustomRate">Custom exchange rate is active</div>
        
        <div class="text-white">API exchange rates last updated on {{ rateLastUpdated }}</div>
        </template>

        <b-alert v-model="isAlertVisible" variant="danger" dismissible>
            {{ GlobalErrorMessage }}
        </b-alert>

        <hr />
        <blockquote class="blockquote">
            <footer class="blockquote-footer"><a href="https://sudarpo.net" class="text-warning">sudarpo.net</a></footer>
        </blockquote>
    </b-container>
    
    <script src="currency-list.js?v=20261003001"></script>
    <script src="donkey-item.js?v=20261003001"></script>
    <script src="app.js?v=20261003001"></script>
</body>
</html>